body {
    margin: 0 auto;
    width: 50vw;
    text-align: center;
    font-family: Inter, Arial;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #6943FF;
    color: white;
    margin-top: 20px;
}

.main {
    background-color: #F4F4F4;
    padding: 10px;
}

.card {
    display: flex;
    justify-content: center;
    background-color: #FFFFFF;
    color: #5A537B;
    margin: 25px;
   
}

p {
    color: #353535;
     font-weight: normal;
}

#btn {
    font-size: Inter, Arial;
    color: #3D3D3D;
    background-color: white;
    width: 100px;
    height: 35px;
    margin: 10px auto;
    border: none;
    border-radius: 3px;
}

#input-val {
    width: 100px;
    height: 70px;
    margin: auto;
    background-color: #6943FF;
    border: 1px solid #B295FF;
    color: white;
    font-size: 50px;
    border-radius: 4px;
    text-align: center;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

h4 {
    font-weight: bold;
}